name: Deploy to S3
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: NodeJs setup
        uses: actions/setup-node@v1
        with:
          node-version: ${{ secrets.node_version }}
      
      - name: NPM install
        run: npm install

      - name: Build
        run: npm run build

      - name: Config AWS
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Deploy to AWS S3
        run: aws s3 sync build s3://sirdash.ai --delete
